@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Fonts & icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url("../fonts/codropsicons/codropsicons.eot");
	src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

@font-face {
	font-family: 'camera-icons';
	src:url('../fonts/camera-icons/camera-icons.eot?7h6q4p');
	src:url('../fonts/camera-icons/camera-icons.eot?#iefix7h6q4p') format('embedded-opentype'),
		url('../fonts/camera-icons/camera-icons.woff?7h6q4p') format('woff'),
		url('../fonts/camera-icons/camera-icons.ttf?7h6q4p') format('truetype'),
		url('../fonts/camera-icons/camera-icons.svg?7h6q4p#camera-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Helpers & resets */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
	content: '';
	display: table;
}

.cf:after {
	clear: both;
}


.center{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(50%,50%);
}
.center button{
	padding: 10px 20px;
	border:1px solid #fff;
	background: transparent;
	font-size: 16px;
	cursor:pointer;
}
.minigamos{
	font-size: 0.7em;
	width: 50%;
	margin: 0 auto;
}
.figure-content{
	
position: relative;
display: inline;


}.figure-content img{   
	display: inline-block;
    width: 13vw;
    height: auto;
    margin: 0 auto;
    position: relative;
    min-width: 335px;
    border: gold 9px solid;
    border-radius: 8px;
}
.popup{
	
position: relative;
top:13rem;
left:0px;
width:0%;
height:0%;
transform: translateY(-50%);
overflow: hidden;
z-index: 2;

}
.popup .content{

	top: 5rem;
	position: relative;
background-color: rgb(233, 233, 233);
opacity:0;
padding: 30px 30px;
width: 100%;
max-width: 550px;
margin: 0px auto;
background: #dbc00f;
font-size: 19px;
margin: 0 auto;
scroll-behavior: smooth;
overflow-x: scroll;
border-radius: 9px;
}
.popup.active{
animation: animationpop 1500ms ease-in-out forwards;

}
.popup.active .content{
opacity: 1;
transition: all 300ms ease-in-out 1500ms;
}
@keyframes animationpop{
0%{
	width:0%;
	height: 0%;

}
50%{
	width: 100%;
	height: 5px;

}
100%{
	width:100%;
	height: 100%;

}
}
.popup .content .popup-close-btn{
position:absolute;
top:2px;

width: 40px;
height: 40px;
text-align: center;
line-height: 35px;
color:#d68e1b;
font-size: 55px;
cursor:pointer;
border-radius: 50%;


}
.popup .content .popup-close-btn:hover{
background: #c5c6c3;

}
/* General styles */
body {
	background: linear-gradient(to left, #0a5500, rgb(251 226 26));
    background-size: contain;
	color: #fff;
	font-size: 1em;
	overflow: hidden;
	margin: 0 auto;
	overflow-y: scroll;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
}

a {
	color: #585558;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #a1a77c;
}

a:hover,
a:focus {
	outline: none;
}

button:focus {
	outline: none;
}
.mb_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: transparent url(../images/pattern.png) repeat top left;
    z-index: 2;
}
.nameVitolas{
	position: absolute;
	display: flex;
	font-size: 2rem;
	margin: 0 auto;
	text-align: center;
	left: 22px;
	top: 10px;

}
/* Main container */
.container {
	
	position: relative;
	
	height: 100%;
	overflow: hidden;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border-style: solid;
border-width: 5px 5px 5px 5px;
-moz-border-image: url("../images/patter.png") 5 0 0 0 repeat repeat;
-webkit-border-image: url("../images/patter.png") 5 0 0 0 repeat repeat;
-o-border-image: url("../images/patter.png") 5 0 0 0 repeat repeat;
border-image: url("../images/patter.png") 5 0 0 0 repeat repeat;

}

.media-scroller{

display:grid;
grid-auto-flow: column;
padding: 20px;
gap: 10px;
overflow-x: auto;

overscroll-behavior:contain ;
}

.popup-close-btn{
	background-color: #0a550086;
}
.figure-content{
	border:rgb(204, 175, 32)  8px solid ;
}
.media-element>img{
	border:rgb(233, 197, 20)  4px solid ;
	margin: 0 13px;
}
.media-scroller figcaption{
	
	text-align: center;
    color: rgb(233, 197, 20);
    cursor:crosshair;
	cursor:pointer;
    font-size: 1.6rem;
}
.container_square{
    z-index: -333;
    }
    .block{
        z-index: inherit;
    position: absolute;
    width: 50px;
    height: 100px;
    background: #498115;
    box-shadow: 5px 20px 1px 10px rgba(0, 0, 0, 0.288);
    } 
    
    .item1{

		opacity:1;
    left:130px;
    position: absolute;
    right: 77px;
    top:244px;
    left:155px;
    }
    .item2{
    
    position: absolute;
    left:130px;
    right: 177px;
    top:344px;
    bottom:55px;
	
    }
    .item3{
    
    position: absolute;
    left:230px;
    right: 77px;
    top:44px;
    bottom:655px;
    }
    .item4{

    position: absolute;
    left: 130px;
    right: 77px;
    top: 144px;

    }
    .item5{
    position: absolute;
    left:30px;
    right: 77px;
    top:44px
    }
    .item6{
    
    opacity: 1;
    position: absolute;
    right:320px;
    left: 44px;
    }
.container_square div{
	
animation: appears linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;
}

.block__{

animation: appears linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;
}
.letrero a{
	animation: appears linear;
	animation-timeline: view();
animation-range: entry 0% cover 40%;
}
@keyframes appears{
            from{
				scale:1;
                opacity: 0;
                scale:0.5;
            }
            to{
				scale:2.1;
                opacity:1;
                scale:1;
            }
        }

/* Header */
.codrops-header {
	
	padding: 1em 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: none;
	flex: none;
	margin: 0 10px;
	z-index: 1000;
	position: relative;
}

.codrops-header h1 {
	font-size: 1em;
	margin: 0 auto 0 0;
	padding: 0.5em;
}

.codrops-header h1 span {
	color: #585558;
}

.codrops-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	margin: 0;
	height: 40px;
	-webkit-flex: none;
	flex: none;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	min-height: 20px;
	background: #585558;
	content: '';
	-webkit-transform: rotate3d(0, 0, 1, 22.5deg);
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon span {
	display: none;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}

/* Menu */
.menu {
	font-size: 1em;
	padding: 0.5em;
}

.menu__item {
	font-weight: bold;
	margin: 0 1em;
}

.menu__item--current {
	color: #dcf43e;
}

/* Hero image */
.hero {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
}

.hero > div {
	background: #498115 url(../img/cigar_breva3.webp) no-repeat 50% 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.hero__back--static,
.hero__front {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transform-origin: 50% 60px;
	transform-origin: 50% 60px;
	-webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
	transition-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.hero__back {
	position: absolute;
	width: 100%;
	height: 100%;
}

.hero__back--mover {
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.4s, opacity 0s 0.5s;
	transition: transform 0.4s, opacity 0s 0.5s;
}

.move-items .hero__back--mover {
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.hero__front {
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -391px;
	width: 782px;
	height: 782px;
	border-radius: 50%;
	opacity: 0;
}

.move-items .hero__back--static {
	opacity: 0;
	-webkit-transform: scale3d(0.15,0.15,1);
	transform: scale3d(0.15,0.15,1);
}

.move-items .hero__front {
	opacity: 1;
	-webkit-transition-duration: 0.5s, 0s;
	transition-duration: 0.5s, 0s;
	-webkit-transform: scale3d(0.15,0.15,1);
	transform: scale3d(0.15,0.15,1);
}

/* Stack slider */
.stack-slider {
	position: absolute;
	height: 40vh;
	width: 100vw;
	top: 0;
	opacity: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translate3d(0, 60vh, 0);
	transform: translate3d(0, 60vh, 0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
	transition-timing-function: cubic-bezier(0.6,0,0.4,1);
	
}

.view-init .stack-slider {
	opacity: 1;
}

.move-items .stack-slider {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.view-full .flickity-viewport {
	overflow: visible;
}

/* Loader */
.loader {
	position: fixed;
	width: 60px;
	height: 15px;
	top: 80vh;
	left: 50%;
	margin: -7px 0 0 -30px;
}

.view-init .loader {
	display: none;
}

.stacks-wrapper {
	height: 100%;
}

.stack {
	width: 45%;
	min-width: 300px;
	height: 100%;
	text-align: center;
}

.stack.is-selected {
	height: auto;
}

.stack.stack-prev,
.stack.stack-next {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
	transition-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.move-items .stack.stack-prev,
.move-items .stack.stack-next {
	opacity: 0;
}

.move-items .stack.stack-prev {
	-webkit-transform: translate3d(-70px, 65vh, 0);
	transform: translate3d(-70px, 65vh, 0);
}

.move-items .stack.stack-next {
	-webkit-transform: translate3d(70px, 65vh, 0);
	transform: translate3d(70px, 65vh, 0);
}

.stack.is-selected .stack-title::before,
.stack.stack-prev .stack-title::after,
.stack.stack-next .stack-title::after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	opacity: 0;
	z-index: 100;
}

.stack.is-selected .stack-title::before {
	margin: 0 0 0 -15px;
	left: 50%;
	top: 10px;
	background: url(../img/arrow-colored.svg) no-repeat center center;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
	transition: transform 0.5s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
	transition-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.item-clickable .stack.is-selected .stack-title::before {
	opacity: 1;
}

.move-items .is-selected .stack-title::before {
	-webkit-transform: rotate3d(0,0,1,180deg);
	transform: rotate3d(0,0,1,180deg);
}

.stack.stack-prev .stack-title::after,
.stack.stack-next .stack-title::after {
	content: '';
	top: 1.65em;
	background: url(../img/arrow-gray.svg) no-repeat center center;
}

.stack.stack-prev .stack-title::after {
	right: 0;
	-webkit-transform: rotate3d(0,0,1,-90deg);
	transform: rotate3d(0,0,1,-90deg);
}

.stack.stack-next .stack-title::after {
	left: 0;
	-webkit-transform: rotate3d(0,0,1,90deg);
	transform: rotate3d(0,0,1,90deg);
}

.stack.stack-prev .stack-title:hover::after,
.stack.stack-next .stack-title:hover::after {
	opacity: 1;
}

.stack-title {
	font-size: 4.25em;
    font-weight: 700;
    margin: 70px 0 30px;
    padding: 50px 40px 15px;

    display: inline-block;
    position: relative;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1.23px;
}

.stack-title a {

	font-size: 2.2rem;
	display: block;
	position: relative;
	overflow: hidden;
	color: #fff;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.stack-title a::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 0.5em;
	line-height: 2.5;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.stack-title a span {
	
	display: block;
	color: #595959;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-family: 'poiret-oneO';
}

.is-selected .stack-title a span {
	color: #e2d419;
	font-family: 'poiret-oneO';
	text-shadow: 1px 2px rgb(51 51 42);
	padding: 5px;
	font-size: xxx-large;
}

.stack-title a::after,
.stack-title a span {
	-webkit-transition: -webkit-transform 1s 0.15s, opacity 1s 0.15s;
	transition: transform 1s 0.15s, opacity 1s 0.15s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.stack-title a:hover {
	color: #fff;
}

.move-items .is-selected .stack-title a::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.move-items .is-selected .stack-title a span {
	opacity: 0;
	-webkit-transform: translate3d(0, -150%, 0);
	transform: translate3d(0, -150%, 0);
}

.item {
	
	padding: 0 5% 5%;
	opacity: 0;
	width: 100%;
	position: relative;
	text-align: left;
	-webkit-transform: translate3d(0,75px,0);
	transform: translate3d(0,75px,0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
	transition-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.move-items .is-selected .item {
	opacity: 1;
}

.move-items .is-selected .item:first-of-type .item__content::after {
	-webkit-transform: translate3d(0,0,0) scale3d(0.95,0.95,1);
	transform: translate3d(0,0,0) scale3d(0.95,0.95,1);

	

}

.move-items .is-selected .item:first-of-type .item__content::before {
	-webkit-transform: translate3d(0,0,0) scale3d(0.9,0.9,1);
	transform: translate3d(0,0,0) scale3d(0.9,0.9,1);
}

.item:first-of-type {
	opacity: 0.25;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.move-items .is-selected .item {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.move-items .is-selected .item:first-of-type {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}



.item__content {
	position: relative;
    z-index: 100;
    max-width: 44vh;
    margin: 0 2em;
	
}

.item__content p {
	padding: 5px;
	
    text-align: center;
	font-size: 1.2em;
    letter-spacing: 1.3px;

    width:fit-content;
    
    padding: 1px;
	-webkit-box-shadow: 13px 2px 14px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 13px 2px 14px -16px rgba(0, 0, 0, 1);
    box-shadow: 13px 2px 14px -16px rgba(0, 0, 0, 1);
    background-color: #9eac10;
}

.item:first-of-type .item__content::before,
.item:first-of-type .item__content::after {
	content: '';
	width: 100%;
	height: 20px;
	top: 0;
	left: 0;
	z-index: -1;
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.item:first-of-type .item__content::before {
	background: #b8b8b868;
	-webkit-transform: translate3d(0,-20px,0) scale3d(0.9,0.9,1);
	transform: translate3d(0,-20px,0) scale3d(0.9,0.9,1);
}

.item:first-of-type .item__content::after {
	background: #a7a7a75f;
	-webkit-transform: translate3d(0,-10px,0) scale3d(0.95,0.95,1);
	transform: translate3d(0,-10px,0) scale3d(0.95,0.95,1);
}


.item img:hover {
	transform: scale(1.8);
	transition: 0.7s all;
	background-color: #0a550096;
}
.item img {
	width: 33vh;
	display: block;
	position: relative;
	z-index: 100;
	border: 8px solid;
	border-radius: 9px;
    border-bottom-width: thick;
}

.item__title {

	font-size: 1.25em;
	
    margin: 5px;
    padding: 0.75em 10px;
	color:  whitesmoke;
	-webkit-box-shadow: 13px 2px 14px -16px rgba(0,0,0,1);
-moz-box-shadow: 13px 2px 14px -16px rgba(0,0,0,1);
box-shadow: 13px 2px 14px -16px rgba(0,0,0,1);
    background-color: #9eac10;
}

.item__date {
	font-size: 0.9em;
	vertical-align: middle;
	display: inline-block;
	color: #4F4E4E;
	margin-left: 5px;
}

.item__details {
	
	width: fit-content;
    text-align: left;
    margin: 10px 0 2em;
    box-sizing: border-box;
    padding: 13px;
	-webkit-box-shadow: 13px 2px 14px -16px rgba(0,0,0,1);
	-moz-box-shadow: 13px 2px 14px -16px rgba(0,0,0,1);
	box-shadow: 13px 2px 14px -16px rgba(0,0,0,1);
    background-color: #9eac10;

	position: relative;
    right: 4px;

	}

.item__details ul {
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
    right: 10px;
	
}

.item__details ul li {
	display: block;
	padding: 3px 0;
	color: #323232;
	white-space: nowrap;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.move-items .is-selected .item__details ul li {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.move-items .is-selected .item__details ul li:first-child {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.move-items .is-selected .item__details ul li:nth-child(2) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.move-items .is-selected .item__details ul li:nth-child(3) {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
	font-size: 1.3em;
}

.move-items .is-selected .item__details ul li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.move-items .is-selected .item__details ul li:nth-child(5) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.item__details ul li:first-child {
	font-weight: bold;
	color: #ebeceb;
}

.icon {
	font-family: 'camera-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon + span {
	margin-left: 5px;
	vertical-align: middle;
	font-size: 1.4em;
}


.social-icons li {
cursor: pointer;
}
.item__details .icon {
	color: #2b2e0f;
	margin-right: 5px;
}

/* comparacion brevas */
.item__content--related {
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    align-items: center;
	
}

.item__content--related > p {
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	
	color: #c3eec3;
}

.media-item {
	display: block;
    margin: 0 auto;
    max-width: 70%;
    min-width: 80vw;
    font-weight: bold;

}

.media-item__img {
	max-width: 450px;
	width: auto;
	opacity: 0.9;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
	color:#0a5500;
}

/* Mobile-first media queries */
@media screen and (min-width: 65em) {
	.item__details {

		position: absolute;
		top: -0em;
		margin: 0 0 0 1em;
		z-index: 1000;
		left: 100%;
        width: 100%;
        background:#a1ad10;
		-webkit-box-shadow: 5px 6px 33px -18px rgba(0,0,0,1);
		-moz-box-shadow: 5px 6px 33px -18px rgba(0,0,0,1);
		box-shadow: 5px 6px 33px -18px rgba(0,0,0,1);
		right: 3em;
        left: 19em;
	}
}

/* Mobile-specific media queries */
@media screen and (max-width: 65em) {
	.stack {
		width: 60%;
	}
	
}

@media screen and (max-width: 45em) {
	.stack-title {
		font-size: 1.75em;
	}
	.menu__item {
		display: block;
		background: #4F4E4E;
		overflow: hidden;
		height: 4px;
		width: 30px;
		margin: 3px 10px 0 0;
	}
	.menu__item span {
		display: none;
	}
	.codrops-header {
		padding: 0.5em 0;
	}
	.stack.stack-prev .stack-title::after, 
	.stack.stack-next .stack-title::after {
		top: 1.85em;
	}
	.codrops-header h1 {
		font-size: 0.85em;
		padding: 0.25em;
	}
}

#vision-footer{
    display: inline-block;
}
.icon-llamada li a{
    font-size: 0.3em;
    letter-spacing: 1.3px;
    
}
    .icon-llamada li{
        margin: 0px auto;
        font-size: 2em;
        width:55px;
        cursor: pointer;
        color:none;
        background-color: none;
        padding-left: 4px;
    }
    .icon-llamada{
display: contents;       
width:55px;
border:green 4px solid;

background-color: green;
color:green;

    }
    .footer-span figure{
        right: 10px;
        margin-right: 10px;
    }
    .footer-span figure img{
        position: relative;
   
    object-fit: contain;
    bottom: 0em;

    }
    .footer-span article{

    overflow-Y: scroll;
    font-size: 0.8em;
    display: inline-block;
    position: relative;
    width: 44%;
    color: dimgrey;
    height: 100px;
    top: 0.7rem;
    line-height: 1rem;
    }
    .footer-span{

        margin:0px auto;
        
        border:10px;
        border-color:rgb(216, 200, 56);
        align-items: center;
        justify-content: center;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(216, 200, 56); 

    }
@media screen and (max-height: 35em) {
	.stack-slider {
		height: 60vh;
		-webkit-transform: translate3d(0, 40vh, 0);
		transform: translate3d(0, 40vh, 0);
	}
}
.basecigar{
	position: absolute;
	width: 160px;
	height: 88px;
	display: inline-flex;
	right: -67px;
	opacity: 0.8;
	bottom: 0.2em;
}
#entradafacebook{
	top:23px;
display:inline-block;
position: relative;
width: auto;
height: 34px;
}
#entradaYoutube{
top:23px;
display:inline-block;
position: relative;
width: auto;
height: 34px;

}

@media screen and (max-width:405px){

	#llamar{
display: none;
	}
.setubicacion{

	left: 20px;
        top: 4px;
        width: auto;
        letter-spacing: 1.3px;
    }
}



@media screen and (max-width:445px){

	#entradaYoutube{
		display: none;
	}

}
@media screen and (max-width:467px) {

	.figure-content img {
		left: -1.6rem;
	}

.icon-llamada li a{
    margin: 0.5em 0.2em;
    font-size: 0.3em;
    width: 240px;
}
.info-wrap{
	
	width: 320px;
	background-size: cover;
	height: fit-content;
	background-position: center;
	padding: 3em;
	border-radius: 30px 30px 30px 30px;
	font-size: 0.6em;
	position: relative;
	left: -50px;
	/* right: 10px;*/
}

}

@media screen and (max-width:1039px) {

	.footer-span article{
		display: none;
	}
	#vision-footer{
		display: none;
	}
	.article-footer{
		display:none;
	}
}

@media  screen and (min-width:1700px){
	.info-wrap{
		font-size: 1em;

	}

}

@media screen and (max-width:532px){
	.setubicacion {
		position: relative;
		font-size: 0.7em;
		right: 0px;
		top:33px;
		width: auto;
		letter-spacing: 1.3px;
	}
	#entradayoutube{
		display: none;
	}
#entradafacebook{
	display: none;
}


.inforedes:nth-child(1){
	display: none;
}
.inforedes:nth-child(2){
	display: none;
}
}

@media screen and (max-width:642px){

	.setubicacion {
		position: relative;
		font-size: 0.7em;
		right: 0px;
		top:33px;
		width: auto;
		letter-spacing: 1.3px;
	}

}

@media  screen and (min-width:1700px){
	.info-wrap{
		font-size: 1em;

	}

}